body {
  font-family: 'Albert Sans';
}

.container {
  width: 550px;
  height: 300px;
  box-sizing: border-box;
}

.cajita {
  border-color: #45B39D;
  border-style: solid;
  border-width: 1px;
  background-color: aquamarine;
}

.titulo {
  border-color: #45B39D;
  background-color: #50EBA7;
  font-size: 20px;
  font-weight: bold;

  /* y si agregamos padding? */
}

section.estreno {
  /* paso 2 - despegar  */
  /* padding: 0 0 10px 0; */
}

section {
  margin: 10px 0px;
}
