* {
  font-family: 'Albert Sans', sans-serif;
}

.container {
  width: 90%;
  box-sizing: border-box;
}

.cajita {
  border-color: #45B39D;
  border-style: solid;
  border-width: 1px;
  background-color: aquamarine;
  padding: 20px;
}

.titulo {
  border-color: #45B39D;
  background-color: #50EBA7;
  font-size: 20px;
  font-weight: bold;
  padding: 20px;
}

article {
  /* paso 1 - separación de artículos */
  margin: 10px 0px;
}

article.container {
  /* paso 2 - separación del contenedor */
  /* margin: 10px auto; */
  /* margin auto -> permite centrar a izquierda y derecha */
}

section.estreno {
  padding: 0 0 10px 0;
}